fastapi
uvicorn[standard]
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
openai
python-multipart
python-dotenv
pdfplumber
pydantic
PyPDF2
google-generativeai
sentence-transformers